#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_AU.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$pKb3scjKOflnF3Gt$Hf5HRUX62YRDCvfTWc46UDh6UD4lqwEFtXvkwXp6kYTQtRpWYkumgKpvm1d.gY7udu875gsxp./zt0rqLrtiU0
# System services
services --disabled="chronyd"
# System timezone
timezone Australia/Melbourne --isUtc --nontp
user --name=ansible --password=$6$R4Io4J.rSa8U/PkM$eMkukg.zeGP.Rc3pJU8gL34RjC/7aY3wsbuw0sCX31AIhJGwVi90OFby6L/giypRZ7CQtRVUTNRxbRI5Nn1Zl0 --iscrypted --gecos="ansible"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
